[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
lxml = "*"
requests = "*"
Flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-login = "*"
sqlalchemy-migrate = "*"
pypandoc = "*"
pyopenssl = "*"
pymorphy2 = "*"
pymorphy2-dicts-ru = "*"
nltk = "*"
python-docx = "*"
email-validator = "*"

[requires]
python_version = "3.9"
