<!-- extend from base layout-->
{% extends "base.htm" %}

{% block content %}
<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <li role="presentation" class="active"><a href="#tab1" data-toggle="tab">Add user</a></li>
    <li role="presentation"><a href="#tab2" data-toggle="tab">Edit user</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="tab1">
        {% include 'register.htm' %}
    </div>
    <div class="tab-pane" id="tab2">
        {% include 'editUser.htm' %}
    </div>
</div>
{% endblock %}


<!--<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please login</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>-->