<article class="document ru">
    {% if (set['Pcomb'] or set['TurbineType']=='kaplan') %}
    <h1>Комбинаторный механизм поворотнолопастных турбин, параметризованный сигналом эл. мощности (<i>P</i>-комбинатор)
    </h1>
    <h2>Напор нетто</h2>
    <p>Для турбомашины любой конструкции актуальной проблемой является минимизация потери, связанной с выходной
        скоростью. Если для высоконапорных машин доля этой потери относительно невелика, то для низконапорного ГА,
        пропускающего большие расходы воды и работающего при изменяющемся в широких пределах низком напоре, организация
        потока в проточной части имеет первостепенное значение для достижения высокой экономичности. Высокая
        экономичность таких ГА обеспечивается применением поворотнолопастных гидротурбин, в которых требуемая для того
        или иного режима геометрия проточной части организуется согласованным изменением углов установки лопаток
        направляющего аппарата и лопастей рабочего колеса &mdash; комбинаторным механизмом.</p>
    <p>Комбинаторный механизм, несмотря на простоту выполняемой функции, требует к себе повышенного внимания, так как от
        него зависят коэффициент полезного действия турбины и техническое состояние агрегата. Хорошо известны
        недостатки, присущие классическим комбинаторным механизмам, формирующим величину угла разворота лопастей
        рабочего колеса по значениям открытия направляющего аппарата и напора нетто агрегата (см. рис.). Ведь согласно
        определению, напор нетто является разностью полных удельных энергий воды на входе и выходе гидротурбины. Эту
        величину не только невозможно получить напрямую, но и для этого требуется множество сложных измерений во время
        всего периода эксплутации.</p>
    <div class="image right">
        <div custom-style="subtitle"><img src="static/mat/media/sau_ga/ru/h_cam.png"/></div>
        <div class="image-title">Классические комбинаторные зависимости</div>
    </div>
    {% if set['head-measure']=="diff" %}
    <p>Несмотря на то, что изготовитель турбины дает комбинаторную зависимость в функции именно от напора нетто, на
        текущий момент на гидроагрегате для комбинаторного механизма используют данные измерения статического напора на
        ГЭС (разность уровней). Как следует из проведенных исследованиях, отождествление статического напора ГЭС и
        напора нетто может привести к ошибкам в величине последнего от +3.8% до -11,6%. Безусловно, величина ошибок в
        определении напора нетто может быть уменьшена введением поправок, учитывающих влияние того или иного фактора.
        Однако создание такой системы идентификации напора нетто требует индивидуального подхода не только к каждой ГЭС,
        но и к каждому агрегату. Нетрудно представить себе алгоритмическую и аппаратную сложность такой системы, а также
        - порядок ее стоимости.</p>
    {% endif %}
    <p>К недостаткам комбинаторных механизмов, использующих сигнал напора нетто, можно отнести также сложность методик
        идентификации закладываемых в них комбинаторных зависимостей в натурном эксперименте. Это и необходимость
        ожидания подходящего значения действующего напора, и сложность измерения расхода, и большая вероятность ошибки в
        определении связи между статическим напором ГЭС и напором нетто агрегата.</p>
    <p>Измерение величины напора-нетто невозможно вести с высокой точностью, а, следовательно, и ошибка классического
        комбинаторного механизма может приводить к потерям к. п. д. (величины потерь можно точнее оценить по
        характеристикам гидротурбины, режиме работы и напора гидроустановки).</p>
    <p><i>Можно утверждать, что классический комбинатор устарел и не использует современные вычислительные мощности для
        повышения энергоэффективности. Разработанный для механических регуляторов еще в начале 20 века подход до сих пор
        используется и не был переработан, несмотря на свои существенные недостатки.</i></p>
    <h2>Использование величины мощности</h2>
    <p>Включение в число параметров, позволяющих правильно выбрать взаимное положение регулирующих органов, сигнала
        мощности позволяет избежать ошибок в измерении напора нетто. Величина мощности, развиваемой турбиной, в отличие
        от напора нетто оказывает влияние на режим работы значительно большего числа факторов. Величина мощности
        является интегральным показателем параметров режима:</p>
    <ul>
        <li>напора нетто, как разности полных удельных энергий воды на входе и на выходе из турбины;</li>
        <li>расхода, зависящего от напора нетто и взаимного положения регулирующих органов.</li>
    </ul>
    <p>Определение механической мощности из электрической мощности в нормальном эксплуатационном режиме трудности не
        составляет. Но нельзя просто начать использовать величину мощности вместо напора нетто. В настоящее время
        вычислительные ресурсы позволяют применить новые идеи, до этого неосуществимые на мехаинческой и аналоговой
        вычислительной базе, используемой в прошлом.</p>
    <h2>Комбинатор по мощности</h2>
    <p>Комбинаторная зависимость строится совокупностью точек при различных напорах, где режим работы комбинаторный.
        Если добавить для каждой из этих точек величину мощности, развиваемую на тот момент, можно построить новую
        функцию в тех же координатах (открытие НА, разворот РК) &mdash; значения комбинаторной мощности. Соединив точки
        с одинаковыми значениями мощности на комбинаторных зависимостях для разных напоров, получим комбинаторные
        зависимости, параметризованные величиной мощности. Можно строго доказать, что данная функция непрерывная и
        монотонна. На рисунке представлены два семейства графиков комбинаторных зависимостей наложенных друг на друга:
        параметризованных напором (красными пунктирными линиями) и параметризированных мощностью (черные сплошные
        линии).</p>
    <div class="image left">
        <div custom-style="subtitle"><img src="static/mat/media/sau_ga/ru/p_cam.png"/></div>
        <div class="image-title">Используемые комбинаторные зависимости</div>
    </div>
    <p>Можно строго доказать, что во время эксплуатации в любой момент времени для заданной мощности найдётся лишь одна
        пара таких положений сервомоторов НА и РК, где текущяя мощность совпадет с мощностью из комбинаторной
        зависимостью, и <b>эта точка будет комбинаторной</b>. Иными словами нужно найти такое положение сервомотора НА,
        при котором соответствующее ему положение сервомотора РК (по классической зависимости) на выбранной изолинии
        комбинаторной мощности Pk=Pзаданное обеспечит достижение турбиной мощности Pзаданное. Такой комбинаторный
        механизм становится комбинатором по мощности, или <i>P</i>-комбинатор. Регулятор отходит от необходимости
        получать напор нетто извне, а определяет его самостоятельно через обратное преобразование.</p>
    <p>Важно, что комбинаторный механизм, входящий в систему регулирования, должен иметь высокие динамические
        характеристики. {% if set['AutoSecondary'] %} Особенно при участии в автоматическом вторичном регулировании,
        когда задание мощности меняется оперативно и в достаточно широких пределах.{% endif %} Предлагаемое решение
        интегрировано в регулятор мощности, позволяя исполнять задание мощности не просто не хуже стандартном
        ПИ-регулятора, но и быстрее за счет использования структуры типа "feed-forward".</p>
    <h2>Закладываемые характеристики</h2>
    <p>Также, как и классическому комбинаторному механизму, P-комбинатору требуются исходные данные для параметризации.
        Существующие методы обладают множеством недостатков в связи с неточностью измерений.</p>
    <p>Завод-изготовитель гидротурбины предоставляет комбинаторную зависимость в классическом виде, но её
        недостаточно:необходимо знание величины мощности в каждой из точек. Однако у завода-изготовителя есть все
        данные, чтобы предоставлять их в полном виде. Другим классическим вариантом является проведение энергетических
        испытаний (с измерением расхода абсолютным методом) &mdash; это требует привлечение сторонней организации и
        фактический вывод агрегата из нормальной работы.</p>
    <p>В первом случае, для турбин, эксплуатируемых долгое время, отклонение от модели может быть значительно или
        характеристика вовсе утерена в архивах. Для второго случая, задача измерения расхода слишком дорога, а в случае
        ГЭС руслового типа (без длинного прямого водовода) сложна и недостаточно точна. </p>
    <div class="image right">
        <div custom-style="subtitle"><img src="static/mat/media/sau_ga/ru/isol_p.png"/></div>
        <div class="image-title">Линии равной мощности</div>
    </div>
    <p>Предлагается рассмотреть новый метод, не требующий измерения расхода и подходящий только для <i>P</i>-комбинатора.
        Это собственный метод постоянной мощности, основанный на фундаментальном свойстве поворотнолопастных
        гидротурбин: достижении одной и той же мощности за счет разного соотношения открытия НА и разворота лопастей РК
        (см. рис). Лишь одна точка на линии для текущего режима является комбинаторной,а метод осуществляет её поиск. В
        основе лежит специальный способ извлечения информации, заложенной в форму изолинии. Методология выведена
        математически и проверена в ходе вычислительного эксперимент на значимом числе цифровых моделей гидроагрегатах,
        а также в ходе серии натурных испытаний на Новосибирской ГЭС совместно с НПО ЦКТИ. Эксперименты показали ошибку
        <b>не более 0,1% по к. п. д.</b></p>
    <p>Актуальным является не только соблюдение комбинаторных зависимостей, но и контроль их изменения во времени из-за
        износа проточной части турбин при эксплуатации. Поэтому необходимо располагать средствами по оперативной ее
        идентификации. Важно, что метод автоматизирован и может быть использован эксплуатационным персоналом без
        изменения режима ГЭС и без участия сторонних организаций и проведения специальных испытаний в течении всего
        срока эксплуатации гидротурбины.
    <p>Таким образом, предлагаемое решение инвариантно относительно наличия модельных и актуальных эксплуатационных
        характеристик.</p>
    <h2>Преимущества решения</h2>
    <p>Преимуществами комбинаторного механизма, использующего сигнал мощности являются:</p>
    <ul>
        <li>высокая точность формирования комбинаторной зависимости &mdash; максимальная эффективность для режима работы
            ГА
        </li>
        <li>исключительная простота реализации для режима работы на мощную энергосистему;</li>
        <li>сохранение дианмических характеристик с сохранением возможности участия в АВРЧМ и НПРЧ;</li>
        <li>регулятор мощности типа «feed-forward» с предрасчетом положения регулирующих органов (особенно с учетом
            нелинейности моментных и расходных характеристик)
        </li>
        <li>безопасное и надежное отключение в ненормальных режимах;</li>
        <li>определение напора нетто гидротурбины;</li>
        <li>уточнение комбинаторных зависимостей в течение всего срока эксплуатации без привлечения дорогостоящих
            специализированных организаций.
        </li>
    </ul>
    <p><b>Метод уже апробирован на серии натурных испытаниях и готов к промышленному применению</b></p>
    <p>В течение 2015 года на агрегате №6 Новосибирской ГЭС специалистами компании «Ракурс-инжиниринг» выполнялись
        экспериментальные исследования с целью проверки и доведения алгоритмов идентификации комбинаторного режима и
        наладка работы комбинаторного механизма, использующего для точной настройки сигнал мощности. В процессе
        испытаний была определена окончательная методика нахождений комбинаторной зависимости собственным методом
        постоянной мощности в режиме полуавтоматического выполнения поискового движения.</p>
    <div class="image left">
        <div custom-style="subtitle"><img src="static/mat/media/sau_ga/ru/step.png"/></div>
        <div class="image-title">Переходный процесс по мощности</div>
    </div>
    <p>В 2016 году на агрегате №4 Шульбинской ГЭС проводились экспериментальные исследования метода идентификации</p>
    <p>В 2016 и 2017 г. вышеуказанный регулятор прошел натурные испытания на модернизированных ГА ст. №3,4 Новосибирской
        ГЭС. Результаты подтвердили, что регулятор корректно решает поставленные перед ним задачи.</p>
    <p><b>Научно-исследовательские и экспериментальные работы, выполненные компанией «Ракурс-инжиниринг» в процессе
        модернизации агрегатных систем управления Новосибирской ГЭС позволяют реализовать современное решение регулятора
        мощности поворотнолопастной гидротурбины с корректором комбинаторной зависимости по мощности, а также обеспечить
        поддержку высокой эффективности предложенного решения экспресс контролем комбинаторных зависимостей, выполняемым
        с использованием аппаратных и программных средств штатных ПТК ЭГР.</b></p>
    <h2>Награды</h2>
    <ul>
        <li>Лучшая научно-исследовательская работа в области гидро\нергетики в 2016 г. (ПАО "РусГидро)</li>
        <li>Первое место среди потенциальных научных проектов AES Казахстан в 2017 г.</li>
        <li>Russian Startup Tour 2015. 3 место в треке «Энергоэффективность и энергосбережение, разработка инновационных
            энергетических технологий».
        </li>
        <li>Вторая Всероссийская научно-практическая конференция молодых ученых, специалистов, аспирантов и студентов
            «ГИДРОЭЛЕКТРОСТАНЦИИ В XXI веке». 1 место в секции «Модернизация и реконструкция ГЭС».
        </li>
        <li>Конкурс лучших инновационных проектов в сфере науки и высшего профеcсионального образования Санкт-Петербурга
            в 2015 году. Лауреат премии «Лучший инновационный продукт».
        </li>
    </ul>
    <div class="image left">
        <div custom-style="subtitle"><img src="static/mat/media/sau_ga/ru/rushydro.jpg"/><img src="static/mat/media/sau_ga/ru/aes.jpg"/></div>
        <div class="image-title">Награды</div>
    </div>
    {% endif %}
</article>
