
	<h1>Аппаратная архитектура</h1>
	<p>Автоматизированная система управления технологическим процессом ГЭС (АСУТП ГЭС), представляет собой типовое, тиражируемое решение, имеющее распределенную структуру, отдельные подсистемы которой являются функционально-законченными и могут разрабатываться и внедряться независимо друг от друга. Каждая подсистема предусматривает возможность дальнейшего наращивания и расширения состава решаемых задач и выполняемых функций.</p>
	<p>В состав АСУ ТП будут включены следующие технические средства:</p>
    <ul>
	<li>микропроцессорные контроллеры, включающие в себя:</li>
			<li>процессоры, процессорные платы, модули центральных процессоров;</li>
			<li>технические средства хранения информации;</li>
			<li>модули ввода-вывода, аналогово-цифровые, цифро-аналогового преобразования;</li>
		<li>специализированные аналоговые и цифровые датчики, исполнительные механизмы, измерительные преобразователи, датчики типа «сухой контакт» поставляемые с технологическим оборудованием;</li>
		<li>ЧМИ;</li>
		<li>серверное оборудование;</li>
		<li>средства обмена данными по ТСПД (включая коммутационное оборудование);</li>
		<li>контрольные и интерфейсные кабели;</li>
		<li>монтажные шкафы в комплекте с устройствами электропитания.</li>
	</ul>
	<h2>Предложения по обеспечению общих требований к системе</h2>
		<p>АСУ ТП ГЭС, как управляющая система сложным технологическим процессом, предъявляет повышенные требования к безопасности эксплуатации.</p>
		<p>ООО «Ракурс-инжиниринг», как компания, работающая на рынке автоматизации объектов энергетики России с 1991 года, накопила большой опыт создания систем АСУ ТП отвечающих всем требованиям безопасности, предъявляемым к подобным системам.</p>
		<figure class="figure" >
			<img class="figure-img img-fluid rounded" custom-style="subtitle" src="static/mat/media/sau_ga/sau_ga_bgges.jpg"/>
			<figcaption class="figure-caption"><h4>САУ ГА Богучанской ГЭС</h4></figcaption></div>
		</figure>
		<p>Интерфейс операторов АСУТП ГЭС будет построен таким образом, чтобы блокировать ошибочные действия оперативного персонала. Разделение уровней допуска персонала к управлению технологическим процессом позволяет предотвратить несанкционированные изменения режимов работы оборудования, уставок срабатывания сигнализации и защит. Регистрация всех событий в системе в хронологическом порядке с метками времени позволяет анализировать возникшие нештатные ситуации и действия операторов по их ликвидации и, тем самым повышать уровень подготовки оперативного персонала.</p>
		<p>Конструктивное исполнение ПТК АСУТП ГЭС удовлетворяет требованиям электробезопасности в соответствии с «Правилами технической эксплуатации электрических станций и сетей».</p>
		<p>Предлагаемые технические решения прошли многократную проверку на десятках тепловых, атомных и гидроэлектростанциях России и за рубежом.</p>
		<p>Автоматизированная система управления ГЭС будет построена на базе ПТК «Апогей», выпускающегося в соответствии с требованиями ТУ4252-003-27462912-04.</p>
		<p>Создаваемая система строится по принципу открытой, расширяемой системы на платформе программно-технического комплекса «Апогей».</p>
		<p>Программно-технические комплексы, входящие в состав АСУТП ГЭС выполняются на основе унифицированных технических, программных и информационных средств с использованием минимального числа типов и конструктивов аппаратуры, поддерживающих стандартные протоколы обмена данными.</p>
		<p>Программно-технические комплексы, входящие в состав АСУТП ГЭС построены по принципу открытой системы, программное обеспечение ПТК выполнено в соответствие международным стандартом IEC 1131-3, что дает возможность обеспечить простоту интеграции с системами сторонних производителей.</p>
		<p>ПЛК обладают возможностью синхронизации часов по протоколу NTP и SNTP с дискретизацией не хуже 1 мс. Метка времени присваивается в момент поступления в ПЛК с дискретизацией не хуже 1 мс.</p>
		<p>Отличительные возможности:</p>
		<ul>
			{% if set['Redundancy'] %}<li>Выполнено резервирование критически важных компонентов, в том числе контроллеров, для обеспечения максимальной надежности и с безударным переключением (ручное и автоматическое в случае диагностики неисправности). Имеется возможность горячей замены резервированных компонентов. Среднее время восстановления работоспособности при любом единичном отказе любой функции – не более 1 часа.</li>{% endif %}
			<li>Панели оснащены органами управления, светодиодной индикацией и терминалом (тачпанелью) оператора на передних дверях за застекленной поворотной рамой с замком.</li>
			<li>Все панели оснащены индивидуальным автоматическим освещением и двумя розетками 220VAC.</li>
			<li>Панели имеют принудительную вентиляцию, управляемой по температуре внутри панелей.</li>
			<li>Питание осуществляется от двух вводов: переменного 220VAC и постоянного (оперативного тока) 220VDC с беспрерывным переключением.</li>
			<li>Внутреннее питание всех элементов и сигналов осуществляется напряжением 24VDC.</li>
			<li>Модули поканальной гальванической развязки всех внешних (входных и выходных) дискретных и аналоговых сигналов с напряжением пробоя изоляции не ниже 2000В переменного тока.</li>
			<li>Хранение программы и конфигурации в энергонезависимой памяти.</li>
			<li>Блоки клемм с пружинным зажимом для всех информационных сигналов.</li>
		</ul>
		<h3>Надежность и срок службы</h3>
		<p>В составе нижнего уровня управления применяются компоненты со сроком службы не менее 15 лет.</p>
		{% if set['Redundancy'] %}
		<p>Значения MTBF для следующих функций:</p>
		<ul>
			<li>ввод дискретного сигнала – не менее 80 000 часов;</li>
			<li>вывод дискретного сигнала – не менее 100 000 часов;</li>
			<li>ввод и вывод аналогового сигнала – не менее 90 000 часов.</li>
		</ul>{% endif %}
		<h3>Диагностика и ремонтопригодность</h3>
		<p>Уверенность эксплуатационного персонала в оборудовании определяется не только и не столько торговой маркой (фирмой – изготовителем), сколько открытостью и ремонтопригодностью. В настоящее время в мире практически не осталось производителей, которые позволяют себе производить некачественные компоненты, они уже вытеснены с рынка. Однако различная закрытость, отсутствие доступа к информации о необходимых специалистах, отсутствие документации на понятном языке, отсутствие схем и т.д. не позволяют быть уверенным в оборудовании на 100%.</p>
		<figure class="figure" custom-style="subtitle">
			<img class="figure-img img-fluid rounded" custom-style="subtitle" src="static/mat/media/sau_ga/sau_shges.jpg"/>
			<figcaption class="figure-caption"><h4>САУ ГА Шульбинской ГЭС</h4></figcaption>
		</figure>
		<p>Предлагаемый нами ПТК поставляется с полностью открытым программным обеспечением, кроме того, в рамках контракта мы обучим достаточное число специалистов станции работе с нашим программным обеспечением. Это уникальная открытость, а следовательно – уникальный уровень диагностики и способности к ремонту. Причем ремонту не только восстанавливающего (замена модулей на аналогичные из ЗИП), но и модернизирующего, развивающего, изменяющего характера.</p>
		<p>В ПТК «Апогей» реализованы развитые диагностические функции:</p>
		<ul>
			<li>для датчиков физических величин (термометров сопротивления и термопар) реализовано определение обрыва и короткого замыкания, кроме того, реализован алгоритм определения недостоверного замера, который позволяет избежать ложных срабатываний автоматики при неисправностях (плохих контактах) в термометрах сопротивления или клеммных колодках;</li>
			<li>для датчиков аналогового сигнала (4…20 мА, 1…5 В) реализовано определение обрыва и короткого замыкания;</li>
			<li>для дискретных сигналов реализован контроль достоверности срабатывания, защита от дребезга;</li>
			<li>программное обеспечение контроллеров поддерживает стандартные встроенные функции: watch dog – timer, автоматическое определение ошибки кода (при редактировании в режиме on-line), контроль времени выполнения программы (с выдачей диагностических сообщений);</li>
			<li>на уровне системного программного обеспечения контроллеров проверяется целостность и достоверность сетевых подключений и передаваемых данных.</li>
		</ul>
	<h2>Конструктивное исполнение</h2>
		<p>Поставку системы управления предлагается выполнить в шкафах фирмы RITTAL (Германия) или аналогичных. Шкафы имеет класс исполнения не хуже IP54. Габариты, цвет и исполнение шкафов определяются на стадии проектирования и согласования основных технических решений.</p>
<h2>Используемые ПЛК</h2>
		<p>ПЛК являются ядром составляющей нижнего уровня АСУ ТП, обеспечивая надежное исполнение технологических алгоритмов. Для создаваемой АСУ ТП предлагается использовать контроллеры {{set['plc_vendor']}} семейств {% for family in set['plc_families']%}{{family}},{% endfor %}.</p>
		{% if ("S7-400" in set['plc_families']) %}
		<h3>Контроллеры Siemens серии S7-400</h3>
		<p>Контроллеры Siemens серии S7-400 – это модульные программируемые контроллеры, предназначенные для построения систем автоматизации низкой, средней и высокой степени сложности.</p>
		<p>Модульная конструкция контроллеров Siemens, работа с естественным охлаждением, возможность применения структур локального и распределенного ввода-вывода, широкие коммуникационные возможности, множество функций, поддерживаемых на уровне операционной системы, удобство эксплуатации и обслуживания обеспечивают возможность получения рентабельных решений для построения систем автоматического управления в различных областях промышленного производства.</p>
		<p>Эффективному применению контроллеров Siemens способствует возможность использования нескольких типов центральных процессоров различной производительности, наличие широкой гаммы модулей ввода-вывода дискретных и аналоговых сигналов, функциональных модулей и коммуникационных процессоров.</p>
		<p>Программируемый контроллер SIMATIC S7-400 имеет модульную конструкцию. Модули, из которых составляется требуемая конфигурация контроллера, могут быть центральными (располагаться по соседству с CPU) или распределенными. В системах SIMATIC S7 распределенные входы/выходы (I/O) являются составной частью системы. CPU, имеющий различные области памяти, составляет основу оборудования системы для обработки программ пользователя. Загрузочная память (load memory) целиком содержит пользовательскую программу: части программы, выполняемые в любое заданное время (исполняемый модуль программы), находятся в рабочей памяти (work memory), обеспечивающей малое время доступа к данным, что предопределяет высокую скорость обработки программы.</p>
		<p>S7-400 является универсальным контроллером. Он отвечает жестким требованиям промышленных стандартов, обладает высокой степенью электромагнитной совместимости, высокой стойкостью к ударным и вибрационным нагрузкам. Установка и замена модулей контроллера, а также модулей, подключенных к нему станций систем распределенного ввода-вывода может производиться без отключения питания (“горячая замена”).</p>
		<div class="img-container">
			<div custom-style="subtitle"><img src="static/mat/media/plc/s7-400.png"/></div>
			<div class="img-title"><h4>ПЛК Siemens S7-400</h4></div>
		</div>
		<p>Программируемые контроллеры S7-400 позволяют использовать широкую гамму центральных процессоров стандартного или специализированного назначения. В зависимости от типа используемого центрального процессора все модели программируемых контроллеров можно разделить на следующие модификации:</p>
		<p>S7-400:</p>
		<ul>
			<li>решение стандартных задач автоматического управления любой степени сложности. Широкая гамма центральных процессоров различной производительности. Поддержка широкого спектра функций на уровне операционной системы центральных процессоров.</li>
			<li>модульная конструкция. Широкий спектр сигнальных, функциональных и коммуникационных модулей для максимальной адаптации к требованиям решаемой задачи.</li>
			<li>гибкие возможности расширения. Использование систем локального и распределенного ввода-вывода с поддержкой функций “горячей” замены модулей.</li>
			<li>широкие коммуникационные возможности, простое включение в сетевые структуры, поддержка информационных технологий.</li>
			<li>удобная конструкция, работа с естественным охлаждением, минимальные затраты на эксплуатацию.</li>
			<li>гибкие возможности расширения по мере развития объекта управления, поддержка технологии CiR (Configuration in RUN), позволяющей вносить изменения в систему управления без ее остановки.</li>
		</ul>
		<p>S7-400H:</p>
		<ul>
			<li>программируемые контроллеры с резервированной структурой, обеспечивающие высокую надежность функционирования системы управления.</li>
			<li>резервирование всех основных функций на уровне операционной системы центральных процессоров.</li>
			<li>обслуживание систем ввода-вывода с переключаемыми или стандартными конфигурациями.</li>
			<li>горячее резервирование с автоматическим безударным переключением на резервный блок в случае отказа ведущего блока.</li>
			<li>конфигурации на основе двух стандартных или одной специализированной монтажной стойки.</li>
			<li>использование резервированных сетей PROFIBUS DP/PA для повышения надежности функционирования системы распределенного ввода-вывода.</li>
		</ul>
		<p>Простота конструкции S7-400 существенно повышает его эксплуатационные характеристики:</p>
		<ul>
			<li>простота установки модулей. Модули устанавливаются в свободные разъемы монтажных стоек и фиксируются в рабочих положениях винтами, встроенными в их корпуса. Фиксированные места занимают только блоки питания и некоторые интерфейсные модули.</li>
			<li>внутренняя шина, встроенная в монтажные стойки. Во все монтажные стойки встроена параллельная шина (Р-шина) для скоростного обмена данными с сигнальными и функциональными модулями. Все стойки, за исключением ER1 и ER2 имеют последовательную коммуникационную шину (К-шину) для скоростного обмена большими объемами данных с функциональными модулями и коммуникационными процессорами.</li>
			<li>механическое кодирование фронтальных соединителей, исключающее возможность возникновения ошибок при замене модулей.</li>
			<li>SIMATIC TOP Connect: система 1-, 2- и 3-проводных соединителей с терминальными блоками, оснащенными контактами под винт или пружинными контактами-защелками, существенно упрощающая и ускоряющая выполнение монтажных работ.</li>
			<li>фиксированная монтажная глубина: все фронтальные соединители и соединительные проводники располагаются в специальных отсеках модулей и закрываются защитными дверцами. Все модули имеют одинаковую монтажную глубину.</li>
			<li>свободное размещение модулей в разъемах всех монтажных стоек контроллера без ограничений на порядок их размещения.</li>
		</ul>
		<p>Программируемые контроллеры S7-400 обеспечивают поддержку широкого набора функций, позволяющих существенно упрощать процессы разработки прикладного программного обеспечения, его отладки, диагностики и поиска неисправностей при выполнении пуско-наладочных работ и эксплуатации готовой системы:</p>
		<ul>
			<li>Высокое быстродействие и поддержка математических операций, позволяющие выполнять эффективную обработку данных и обеспечивающие существенное расширение возможных областей применения контроллеров.</li>
			<li>Удобный интерфейс настройки параметров с общим набором инструментальных средств для всех модулей.</li>
			<li>Поддержка функций человеко-машинного интерфейса на уровне операционной системы центрального процессора.</li>
			<li>Все операции по обмену данными с приборами и системами человеко-машинного интерфейса выполняются автоматически с использованием одинаковых символьных имени общей базы данных проекта.</li>
			<li>Диагностические функции, встроенные в операционную систему центрального процессора и позволяющие осуществлять непрерывный мониторинг работы системы, выявлять ошибки и отказы. Диагностические сообщения с отметками даты и времени накапливаются в буфере диагностических сообщений центрального процессора.</li>
			<li>Парольная защита доступа к программе и данным, исключение возможности их модификации и копирования.</li>
			<li>Расширенный набор системных функций, поддерживающих обслуживание коммуникационных задач, задач управления программой и т.д.</li>
		</ul>	
		{% endif %}
		{% if ("NJ/NX" in set['plc_families']) %}
		<h3>Контроллеры Omron серии NJ/NX</h3>
			<p><i>Комплексная и надежная система автоматизации оборудования</i></p>
			<p>Универсальный контроллер является центральным звеном платформы Sysmac. Данный контроллер характеризуется непревзойденным быстродействием, гибкой, масштабируемой программно-ориентированной архитектурой и традиционной надежностью, характерной для ПЛК Omron. Он разработан в расчете на исключительно высокие требования к скорости и точности управления движением, коммуникационным возможностям, безопасности и безотказности системы. Контроллер представлен серией устройств с различной производительность в целях масштабирования и оптимизации.</p>
			<div class="img-container">
				<div custom-style="subtitle"><img src="static/mat/media/plc/nj_comparison.png"/></div>
				<div class="img-title"><h4>Сравнение ПЛК Omron Sysmac</h4></div>
			</div>
			<div class="img-container">
				<div custom-style="subtitle"><img src="static/mat/media/plc/nx7.jpg"/></div>
				<div class="img-title"><h4>Внешний вид ПЛК Omron NX7</h4></div>
			</div>
		{% endif %}
		{% if ("CJ2H" in set['plc_families']) %}
		<h3>Контроллеры Omron серии CJ2H</h3>
		<p><i>Серия CJ2H с высоким быстродействием и большой емкостью памяти</i></p>
		<p>Специальные команды, предусмотренные в CJ2H, обеспечивают прямой доступ к данным скоростных модулей аналоговых входов/выходов и модулей последовательного интерфейса. Возможна синхронная работа модулей позиционирования для согласованного управления движением максимум по 20 осям. Подключение через стандартный порт USB Модели со встроенным портом Ethernet с поддержкой таблиц логических связей по протоколу EtherNet/IP Высокая емкость памяти программ: до 400К шагов Более высокая точность управления работой оборудования повышает качество выпускаемой продукции Мгновенное обновление базовых входов/выходов обеспечивает обработку данных в реальном времени Высокая емкость памяти данных: до 832К слов</p>
		<div class="img-container">
				<div custom-style="subtitle"><img src="static/mat/media/plc/cj2h.jpg"/></div>
				<div class="img-title"><h4>Внешний вид ПЛК Omron CJ2H</h4></div>
		</div>
		<p>Серия CJ2H идеально подходит для решения современных задач автоматизации промышленного оборудования.</p>
		{% endif %}
	<h2>Серверное оборудование</h2>
		<p>В качестве основной платформы для создания верхнего уровня АСУ ТП предлагается использовать сервера {{set['server_type']}}.</p>
		{% if (set['server_type']=='dell_r430') %}
			<p><i>Пиковая производительность двухпроцессорной системы в компактном корпусе</i></p>
			<p>PowerEdge R430 — стоечный сервер начального уровня малой глубины (24 дюйма) — обеспечивает пиковую производительность двухпроцессорной системы для центров обработки данных с ограниченным свободным пространством. Он идеально подходит для поддержки широкого спектра рабочих нагрузок, включая следующие.</p>
			<ul>
				<li>Высокопроизводительные вычисления (HPC)</li>
				<li>Веб-службы</li>
				<li>Масштабирование инфраструктуры</li>
				<li>Наблюдение и обеспечение безопасности объектов</li>
			</ul>			
			<p>Сервер R430 также можно использовать в качестве выделенного сервера резервного копирования или разработки.</p>
			<div class="img-container">
				<div custom-style="subtitle"><img src="static/mat/media/scada/dell_r430_nocover.jpg"/></div>
				<div class="img-title"><h4>Внешний вид Dell R430 без декоративной крышки</h4></div>
			</div>
			<p><i>Высочайшая производительность</i></p>
			<p>Обеспечьте высочайшую производительность при обработке широкого спектра нагрузок благодаря самому современному процессору Intel® Xeon® семейства E5-2600 версии 4 (до 22 ядер на каждый процессор). Повышение производительности памяти и системы ввода/вывода благодаря следующим характеристикам. 12 разъемов для модулей памяти DIMM, которые обеспечивают увеличение объема системной памяти с течением времени. Память DDR4, обеспечивающая увеличение пропускной способности памяти на 15 % и сокращение энергопотребления до 30 % по сравнению с предыдущим поколением ОЗУ DDR3. До 10 2,5-дюймовых жестких дисков с повышенным числом операций ввода-вывода в секунду и два разъема PCIe 3-го поколения, обеспечивающие двукратное увеличение пропускной способности по сравнению с PCIe 2-го поколения.</p>
			<p><i>Гибкое масштабирование и адаптация</i></p>
			<p>Контролируйте бурный рост объемов данных благодаря возможности увеличения емкости внутренней системы хранения данных, а также обеспечьте гибкую адаптацию к изменяющимся условиям работы благодаря расширяемой платформе с поддержкой виртуализации и кластеров высокой доступности. Обеспечьте высокий уровень защиты виртуализированных рабочих нагрузок по мере роста вашей организации за счет резервирования гипервизора при использовании инновационного отказоустойчивого гипервизора Dell.</p>
		{% endif %}
		<div class="img-container">
			<div custom-style="subtitle"><img src="static/mat/media/scada/bd_front.jpg"/></div>
			<div class="img-title"><h4>Пример дублированного серверного шкафа</h4></div>
		</div>
		<p>В качестве местного интерфейса для управления сервером, используется ATEN CN8000N –   PS/2, VGA, КVM консоль c 19-дюймовым LCD монитором, устанавливаемая в стойку.</p>
		<div class="img-container">
			<div custom-style="subtitle"><img src="static/mat/media/scada/kvm_rack.jpg"/></div>
			<div class="img-title"><h4>KVM консоль для серверного шкафа</h4></div>
		</div>
	<h2>Сетевое коммутационное оборудование</h2>
		<p>Сеть базируется на коммутаторах Ракурс СПД-1-Р</p>
		<div class="img-container">
			<div custom-style="subtitle"><img src="static/mat/media/scada/Rakurs_switches.jpg"/></div>
			<div class="img-title"><h4>Шкаф сетевого коммутационного оборудования</h4></div>
		</div>
		<p>В шкафах нижнего уровня устанавливаются управляемые коммутаторы MOXA серии EDS-500A</p>
		<div class="img-container">
			<div custom-style="subtitle"><img src="static/mat/media/scada/eds_508.jpg"/></div>
			<div class="img-title"><h4>Коммутаторы в шкафах нижнего уровня</h4></div>
		</div>		
	<h2>АРМ операторов и инженерного персонала</h2>
		<p>Для повышения надежности и устойчивости АРМ АСУ ТП, в составе типового решения предлагается использование персональных компьютеров в составе АРМ на терминалы («тонкие клиенты»), с одновременным переносом  клиентского ПО АРМ на серверы кластера АСУ ТП.  Целесообразность данного решения определяется следующими факторами:</p>
		<ul>
			<li>Необходимость периодического ремонта, апгрейда, замены ПК и обновления лицензионного ПО для ПК;
			<li>Необходимость антивирусной защиты ПК и периодического обновления антивирусов
			<li>Риск кражи ПК и утери информации 
			<li>Чувствительность к питанию - требуется источник бесперебойного питания (ИБП) и регулярная замена батарей в нем
			<li>Установка ПО и обновление ПО на большое количество ПК различных моделей – трудоемко
		</ul>
		<div class="img-container">
			<div custom-style="subtitle"><img style="width:50%;" src="static/mat/media/scada/nuc.jpg"/></div>
			<div class="img-title"><h4>Тонкий клиент для АРМ</h4></div>
		</div>
		<p>Вместе с тем, очевидно что АРМ АСУ ТП выполняют одну-две строго определенные функции отображения данных, подготовки отчетов, программирование/отладка. В этом случае целесообразно заменить ПК на терминалы – «тонкие клиенты». В варианте установки терминалов – «тонких клиентов» на рабочих местах, появляются следующие преимущества:</p>
		<ul>
			<li>Все ПО находится на сервере
			<li>Информация не хранится  на рабочем месте
			<li>Нет угрозы вирусов и вредоносного ПО на рабочих местах
			<li>Низкое энергопотребление, (5-10 Вт) не требуется ИБП
			<li>Никакие программы не нужно ставить на рабочее место
			<li>Доступ к своему рабочему месту с другого терминала если свой сломан
			<li>Не нужно обновлять оборудование (срок службы 10 лет и более)
		</ul>
		<p>АРМ АСУ ТП отображает информацию на двух мониторах диагональю 24".</p>
		<div class="img-container">
			<div custom-style="subtitle"><img src="static/mat/media/scada/arm_monitors.jpg"/></div>
			<div class="img-title"><h4>Мониторы АРМ</h4></div>
		</div>

<h2>Система обеспечения единого времени (ССВ)</h2>
<p>ССВ предназначен для поддержания единого точного времени в пределах АСУ ТП, предоставления сигналов точного времени внешним системам, обеспечения синхронизации времени по сигналам спутниковых систем, поддержания точного времени при временном отсутствии сигналов спутниковых систем и предоставления сигналов точного времени другим системам. Основным назначением ССВ является выполнение следующих задач:</p>
<ul>
<li>определение точного астрономического времени на базе GPS/ГЛОНАСС;</li>
<li>предоставление сигналов точного времени по протоколам NTP и SNTP;</li>
<li>формирование дискретных сигналов точного времени (синхроимпульсов) для высокоточной синхронизации оборудования при использовании протокола SNTP.</li>
</ul>
<p>Ядром ССВ является {% if set['Redundancy'] %}дублированный{% endif %} комплект оборудования для приема сигналов точного времени от спутников GPS/Глонасс Метроном-300, состоящий из приемников спутниковых сигналов и контроллеров, формирующих сигналы точного времени для систем. В комплект поставки входят двухдиапазонные антенны и высокочастотный кабель для подключения антенн к спутниковым приемникам.</p>
<div class="img-container">
			<div custom-style="subtitle"><img src="static/mat/media/scada/metronom300.png"/></div>
			<div class="img-title"><h4>Метроном-300</h4></div>
</div>
<table width="100%" border="0" align="center" cellpadding="3" cellspacing="0">
	<tr><td><p>Основные параметры</p></td></tr>
	<tr>
		<td bgcolor="#E4E4E4"><p>Встроенный приемник:</p></td>
		<td bgcolor="#E4E4E4"><p>ГЛОНАСС/GPS, 32 канала слежения<br>Опция: только GPS приемник.</p></td>
    </tr>
	<tr bgcolor="#E4E4E4">
		<td bgcolor="#FFFFFF"><p>Выбор режима приёма:</p></td>
		<td  bgcolor="#FFFFFF"><p>ГЛОНАСС/GPS, ГЛОНАСС, GPS</p></td>
	</tr>
	<tr>
		<td bgcolor="#E4E4E4"><p>Сетевой интерфейс:</p></td>
		<td bgcolor="#E4E4E4"><p>2 x NTP LAN Ethernet  10/100 Мбит, RJ45;<br>Опции:<br>4/6 x NTP LAN Ethernet  10/100 Мбит, RJ45;<br>1 x NTP LAN Ethernet  10/100/1000 Мбит, RJ45;<br>			  3 x NTP LAN Ethernet  10/100/1000 Мбит, RJ45;</p></td>
    </tr>
	<tr>
        <td bgcolor="#FFFFFF">Частотные выходы:</td>
        <td bgcolor="#FFFFFF">10 МГц (TTL), 50 Ом, BNC;<br>
	</tr>
</table>
	<h2>Организация электроснабжения</h2>
		<p>Электроснабжение систем будет осуществляться по схеме резервированного электропитания – от переменного тока 220В и постоянного тока 220В. Каждый шкаф предусматривает два универсальных ввода для основных потребителей и дополнительный ввод переменного тока на освещение и внутренние розетки для подключения вспомогательного оборудования.</p>
		<p>Схема бесперебойного питания системы обеспечивает работоспособность при:</p>
		<ul>
			<li>изменениях напряжения 220В переменного тока на -25%/+20%;</li>
			<li>изменениях напряжения 220В постоянного тока на -25%/+10%;</li>
		</ul>
	<h2>Маркировка и организация кабельных вводов</h2>
	<p>Подвод кабелей осуществляется с нижней или верхней части шкафа через клеммные колодки. Внутренняя кабельная разводка в шкафах проходит по желобам обеспечивая легкий доступ к ней. Сечение и цвет используемых проводов соответствуют действующим нормам. Внутренняя кабельная разводка будет иметь маркировку термоусадочными кембриками с печатной буквенной и цифровой информацией. Обозначение монтажных элементов производится посредством наклеивания бирок на акриловой основе.</p>
	<div class="img-container">
			<div custom-style="subtitle"><img src="static/mat/media/sau_ga/крепление_кабелей.jpg"/></div>
			<div class="img-title"><h4>Пример монтажа внешних кабельных связей</h4></div>
	</div>
	<h2>Заземление и изоляция</h2>
	<p>Шкафы ПТК будут оборудованы болтами заземления согласно ГОСТ 12.2.007.0 – 75, минимальный диаметр болта заземления – М5, минимальный диаметр площадки – 14 мм.</p>
	<p>Сопротивление заземления контроллера и терминала, относительно болта заземления, к которому подключается шина заземления, проложенная в помещении, не превышает 0,1 Ома.</p>
	<p>Сопротивление изоляции цепей ПТК относительно корпуса и между собой выдерживает в течении одной минуты при нормальных условиях испытательное напряжение:</p>
	<ul>	
		<li>в цепях до 40 В - 250 В;</ul>
		<li>в цепях свыше 100 В – 1000 В.</ul>
	</ul>
	<p>Электрическое сопротивление изоляции цепей ПТК относительно корпуса и друг друга при нормальных условиях не менее 100 МОм.</p>
	
	<h2>Требования по обеспечению безопасности</h2>
		<p>ПТК не содержит горючих пожароопасных материалов и покрытий по ГОСТ 12.1.004–91.</p>
		<p>ПТК оснащен предупредительной и аварийной световой и звуковой сигнализацией и обеспечивает возможность их проверки в любой момент времени.</p>
		<p>Соответствие правилам безопасности обеспечивается на стадии проектирования ПТК выбором материалов, имеющих соответствующие сертификаты безопасности и применением соответствующих технических решений.</p>
		<p>Расчетная вероятность возникновения пожара от ПТК, определенная в соответствии с ГОСТ 12.1.004 – 91, составляет 	6,1 * 10-7.</p>		
	<h2>Требования по обеспечению электробезопасности</h2>
		<p>По условиям электробезопасности ПТК относится к электроустановкам с напряжением до 1000 В.</p>
		<p>По ГОСТ 12.2.007.0 – 75 ПТК относится к 1 классу по способу защиты человека от поражения электрическим током.</p>
		<p>При подготовке рабочего места, установке ПТК, проведении испытаний, наладочных и ремонтных работ необходимо соблюдать требования «Правил технической эксплуатации электроустановок потребителей» (утверждены приказ №6 от 13.01.2003г. Минэнерго России) и «Межотраслевых правил по охране труда (правил безопасности) при эксплуатации электроустановок потребителей» (ПОТ РМ-116-2001).</p>
		<p>ПТК оборудован сигнализацией наличия сетевого напряжения питания с соответствующей табличкой – указателем.</p>
		<p>Все внешние части изделий, которые находятся под напряжением более 42 В по отношению к корпусу ПТК, защищены от случайных прикосновений.</p>
    <h2>Обеспечение требований по сейсмостойкости</h2>
		<p>Для оборудования АСУ ТП ГЭС будет обеспечено требование Заказчика по обеспечению сейсмоустойчивости оборудования – 8 баллов по шкале MSK-64.</p>
		<p>Конструктивы (шкафы) будут комплектоваться комплектами оборудования для увеличения сейсмостойкости – комплектами элементов жесткости. Для установки шкафов в помещениях, шкафы будут комплектоваться сейсмостойкими цоколями.</p>
		<p>Для обеспечения данного решения предлагается использовать промышленные шкафы Rittal или аналогичные, в сейсмостойком исполнении. В шкафах Rittal не используются обычные решения, которые можно увидеть у других производителей. Они сводятся к размещению крестовин больших размеров в качестве жестких связей. Неблагоприятные следствия таких решений заключаются в возрастании жесткости и наведенных сил, что, в свою очередь, таит опасность разрушения или опрокидывания.</p>
		<p>Применение принципа под названием «пластичные шаровые шарниры» демонстрирует все свои преимущества, позволяя переносить силы на зоны сочленений, в которых осуществляется поглощение энергии за счет трения, возникающего при микросмещениях деталей друг относительно друга.</p>
		<p>Следует также отметить, что концепция угловых связей жесткости позволяет сохранить максимум свободы в применении перфорации элементов шкафа, а также что их небольшие размеры не препятствуют циркуляции воздуха и проходу между рядом стоящими шкафами.</p>
		<p>Сейсмические силы приводят к очень большим напряжениям, которыми часто пренебрегают при креплении шкафов к полу. Во многих случаях сообщается об опрокинутых и лежащих шкафах после землетрясения. В особых случаях обращаются к «сейсмостойки» штырям, которые обеспечивают чрезвычайно эффективное крепление.</p>
		<p>Компоновочные решения шкафов будут учитывать возможные перемещения большой амплитуды и соответственно будут применяться дополнительные крепежные элементы для гарантированной фиксации внутреннего оборудования шкафов. Размещение тяжелых и/или крупногабаритных внутренних элементов изделий будет выполняться по возможности в нижней части шкафов.</p>
		<p>Дополнительно все шкафы ПТК проходят реальные испытания на сейсмостенде. Пример Акта выполненных работ для ПТК нашей разработки может быть предоставлен. Компания Ракурс имеет реальный опыт изготовления и поставки шкафов ПТК для объектов с высоким уровнем сейсмоопасности (Головная ГЭС Зарамагских ГЭС, Рогунская ГЭС и др.).</p>
		<p>В случае заинтересованности Заказчика наша компания также готова предоставить видеоматериалы проведения испытания оборудования ООО «Ракурс-инжиниринг» на сейсмостенде.</p>
<h2>Калибратор технологических параметров</h2>
<p>Прецизионный многофункциональный калибратор процессов Fluke 726 разработан специально для обрабатывающей промышленности и обеспечивает широкую зону действия, мощные возможности калибровки и непревзойденную точность. Fluke 726 может измерять, генерировать и калибровать практически любые технологические параметры. Fluke 726 позволяет интерпретировать результаты измерений без помощи калькулятора, а также сохранять данные для дальнейшего анализа.</p>
<div class="img-container">
			<div custom-style="subtitle"><img src="static/mat/media/os/fluke.jpg"/></div>
			<div class="img-title"><h4>Вид основного блока калибратора</h4></div>
</div>
<ul>
<li>Более точное измерение и калибровка исходных характеристик с погрешностью в 0,01%</li>
<li>Два отдельных канала; одновременные измерение, генерация и просмотр сигналов процесса</li>
<li>Измеряет напряжение (В), ток (мА), RTD, термопары и сопротивление (Ом) для испытания датчиков и преобразователей</li>
<li>Генерация/моделирование напряжения (В), силы тока (мА), RTD, термопар, частоты и давления для калибровки преобразователей</li>
<li>Измерение/генерация давления* с помощью любого из 29 модулей Fluke 700Pxx</li>
<li>Генерация тока с одновременным измерением давления для проведения испытаний клапанов и I/P</li>
<li>Встроенная функция проверки переключателя давления, позволяющая регистрировать установку, сброс и диапазон нечувствительности переключателя</li>
<li>Память для хранения результатов 8 калибровок позволяет использовать эти данные для последующего анализа</li>
<li>Вычисление процента ошибок передатчика позволяет интерпретировать результаты измерений без использования калькулятора</li>
<li>Функции автоматических ступенчатых или линейно нарастающих измерений позволяют проводить ускоренные испытания линейности</li>
<li>Питание преобразователей во время испытания осуществляется при помощи петли тока 24 В с одновременным измерением силы тока</li>
<li>Многократное сохранение - возможность использования наиболее часто употребляемых настроек для дальнейшего использования</li>
<li>Сумматор частот и режим источника последовательностей импульсов для улучшенного тестирования расходометров</li>
<li>Режим HART, осуществляющий вставку резистора с сопротивлением 250 Ом в мА-измерение и источник, для совместимости с приборами HART</li>
<li>Пользовательские характеристики резистивных температурных датчиков, дополнительные константы калибровки для сертифицированных проверок резистивных температурных датчиков в целях улучшенного измерения температуры</li>
<li>Новая защита входного напряжения для повышения надежности</li>
</ul>
<h2>Гальваноразвязка</h2>
<p>Все входные и выходные сигналы гальванически изолированы друг от друга{% if set['Redundancy'] %}, так же как и между дублированными компонентами{% endif %}. </p>
<h3>Дискретные сигналы</h3>
<div class="img-container">
			<div custom-style="subtitle"><img src="static/mat/media/os/g2r.jpg"/></div>
			<div class="img-title"><h4>Реле Omron G2RV-SL700-24VDC, Omron G2R-2-SND 24DC.</h4></div>
</div>
<p>Выдерживает испытательное напряжение между сигналами и землей – 5000 В переменного тока.</p>
<h3>Аналоговые сигналы</h3>
<div class="img-container">
			<div custom-style="subtitle"><img src="static/mat/media/os/was_mcr.jpg"/></div>
			<div class="img-title"><h4>Преобразователь сигналов Weidmuller WAS5 CCC HF, Размножитель сигналов Phoenix Contact; MINI MCR-SL-UI-2I-NC.</h4></div>
</div>
<p>Выдерживает испытательное напряжение между сигналами и землей – 4000 В переменного тока для ЭГСС, 1500 В для некритических.</p>

