


input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

input,
button,
textarea,
select {
  *font-size: 100%;
}

html {
  min-height: 100%;
  /*font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;*/
  font-size: 12px;
}

body {
  height: 100%;
  min-height: 100%;
  color: #0f0f0f;
  background: #ffffff;
  counter-reset: h1counter;
}

hr {
  border: 0;
  height: 1px;
  clear: both;
  background: #777;
  margin-bottom: 1em;
}

h1,
h2,
h3
 {
  margin: 0;
  padding: 0;
  clear: both;
}

h1 {
  font-size: 1.4rem;
  margin: 4px 2px;
  padding: 2px 3px;
  counter-reset: h2counter;
}


h2 {
  font-size: 1.0rem;
  counter-reset: h3counter;
}
	
h3 {
  font-size: 1.0rem;
}


.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignleft,
.left {
  float: left;
}

.alignright,
.right {
  float: right;
}

.clear {
  clear: both;
}

.empty {
  height: 0;
}

.hide {
  display: none;
}

.wrapper {
  margin: 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #ccc;
}





.container{
    display: flex;
}
.fixed{
    width: 250px;
}
.flex-item{
    flex-grow: 1;
	height:1000px;
	overflow-y: scroll;
}

/* document */
.document {
	overflow: hidden;
	/*font-size: 1.0rem;
	line-height: 1.1;*/
	
}


/* headers counting
.document h1:before {
        content: counter(h1counter) ".\0000a0\0000a0";
        counter-increment: h1counter;
        counter-reset: h2counter;
}

.document h1.nocount:before {
        content: none;
        counter-increment: none;
}


.document h2:before {
        content: counter(h1counter) "." counter(h2counter) ".\0000a0\0000a0";
        counter-increment: h2counter;
        counter-reset: h3counter;
}

.document h2.nocount:before {
        content: none;
        counter-increment: none;
}

.document h3:before {
        content: counter(h1counter) "." \counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
        counter-increment: h3counter;
}
.document h3.nocount:before {
        content: none;
        counter-increment: none;
}
*/

.document p { 
  font-style: normal;
  text-align: justify;
  /*text-justify: newspaper;*/
}

.document ul {
	list-style-type: disc;
	margin: 0 0 0 30px;
    padding: 0;
}

.document ul li{
	padding: 9px 0;
    line-height: 1.6;
}

.document ul li:first-child {
    padding-top: 0;
}

.document .img-container{
    position: relative;
    /*padding: 5px;
    padding-top: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 16px;*/
}

.document .img-container img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	max-width:100%;
}


.document .img-title{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

/* /document */

/* form */
form input,
form textarea,
form select {
  padding: 0px;
  margin: 2px;
  font-size: 12px;
}

form label {
  padding: 4px;
  margin: 2px;
  font-size: 14px;
}

/* /form */

/* footer */
footer {
  color: #999;
  text-align: center;
  font-size: 1.2em;
  padding: 16px;
}


button,
.button {
  padding: 0 4px;
  margin: 2px;
  cursor: pointer;
  border-radius: 2px;
  background: #fff;
  background: linear-gradient(to top, #fff, #eee);
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: monospace;
  height: 28px;
  line-height: 28px;
  min-width: 28px;
}


button:hover {
  border: 1px solid #999;
}

button:active {
  border: 1px solid #f99;
}