<article class="document ru">
    <h1>Состав АСУ ТП</h1>
	<h2>Системы управления технологического (нижнего) уровня АСУТП ГЭС</h2>
    <p>Технологический (нижний) уровень управления ГЭС - уровень непосредственного контроля и управления технологическим оборудованием (гидроагрегаты, трансформаторы, выключатели и др.). «Нижний» уровень управления обеспечивает ввод и обработку информации от технологического оборудования, и вывод управляющих воздействий на местный уровень управления – шкафы и устройства управления различными исполнительными механизмами технологического оборудования станции.</p>
	<p>В состав технологического уровня управления входят следующие системы.</p>
	<p><b>Система автоматического управления гидроагрегатом (САУ ГА)</b>, в которую входят следующие подсистемы</p>
 	<ul>
		{% for id,item in set['delivery'].items()%}{% if item["type"]=="function" and set['delivery'][item["parent"]]["parent"]=="ga" and item["state"]["selected"] %}
		{% if item["text"]=='TA' or item["text"]=='АУГ' %}
		<li><i>подсистема технологической автоматики (ТА) гидроагрегата - автоматика системы управления гидроагрегатом (АСУ/АСУГ)</i> (управление системами гидроагрегата в переходных режимах при выполнении операций по пуску, нормальной и аварийной остановкам, переводу агрегата из одного режима в любой другой из возможных режимов в соответствии с принятой технологией управления);</li>
		<li><i>подсистема управления вспомогательным оборудованием</i>;</li>
		{% endif %}
		{% if item["text"]=='ЭГР' %}
		<li><i>подсистема цифровой части системы регулирования;</i></li>
		{% endif %}
		{% if item["text"]=='МНУ' %}
		<li><i>подсистема управления маслонапорной установкой;</i></li>
		{% endif %}
		{% if item["text"]=='ИС' %}
		<li><i>подсистема измерений электрических параметров;</i></li>
		<li><i>подсистема синхронизации генератора;</i></li>
		<li><i>подсистема звуковой и световой сигнализации.</i></li>
		{% endif %}
		{% if set['TC'] %}
		<li><i>подсистема измерений технологических параметров;</i></li>
		<li><i>подсистема температурного контроля;</i></li>
		{% endif %}
		{% if set['VC'] %}
		<li><i>подсистема вибрационного контроля;</i></li>
		{% endif %}
		{% if set['PenStockControl'] %}
		<li><i>подсистема управления водоприёмником;</i></li>
		{% endif %}
		{% if set['GeneratorProtection'] %}
		<li><i>электрические защиты генератора;</i></li>
		{% endif %}
		{% endif %}{% endfor %}
	 
	</ul>
 or	<item["text"]==ng>
<p><b>Система управления гидротехническими сооружениями ГТС</b>, в которую входят следующие подсистемы</p>
	<ul>
		<li>подсистема контроля уровня ВБ;</li>
		<li>подсистема контроля уровня НБ;</li>
		<li>поitem["text"]=='ЭГР'удерживающих решеток.</li>
	</ul>
	<p><b>Система вспомогательного оборудованием ГЭС</b>, в которую входят следующие подсистitem["text"]=/МНУ	ul>
		<li><i>Электрические подсистемы</i></li>
		<li>подсистема электрических измерений (station aux. transformers)</li>
		<li>подсистема СН (L.V.A.C. switchgear);</li>
		<li>подсистема СОПТ (L.V.D.C. switchgear);</li>
		<li>подсистема дизель-генераторной установкой ДГУ (diesel generator);</li>
		<li>подсистема ОРУ 400кВ (400 kV switch gear H.V. substation area);</li>
		<li><i>Механические подсистемы</i></li>
		<li>подсистема управления охлаждением (Cooling system control);</li>
		<li>подсистема сжатого воздуха (Compressed air system control);</li>
		<li>подсистема дренажа и осушения(Drainage and dewatering control).</li>
	</ul>
	</strong>
	<p>Подсистемы «нижнего» уровня обеспечивают функциональную автономность работы управляемого ими оборудования в объеме реализации возложенных на них технологических задач. Оборудование каждой локальной системы управления состоит из программно-технических комплексов (ПТК) в составе программируемого логического контроллера (PLC), панели оператора (HMI), а также ключей, кнопок, устройств индикации для обеспечения полноценного управления и мониторинга как при работе с верхним уровнем АСУ ТП, так и без него.</p>
	<table>
		<tr><td><b><mark>Наименование системы</mark></b></td><td><b>Оболочка</b></td></tr>
			{% for id,item in set['delivery'].items()%}
			{% if item["type"]=="system" and item["state"]["selected"] %}
			<tr><td><b>{{item["text"]}}</b></td><td></td></tr>
			{% for idchild,itemchild in set['delivery'].items()%}{% if itemchild["type"]=="function" and set['delivery'][itemchild["parent"]]["parent"]==item["text"] and itemchild["state"]["selected"] %}

			{% endif %}{% endfor %}
			{% endif %}{% endfor %}
			<tr><td><b>Система автоматического управления гидроагрегатом САУ ГА</b></td><td></td></tr>
			<tr><td><i>подтехнологической автоматики (ТА) гидроагрегата</i></td><td>Шкаф ПТК ТА</td></tr>
			<tr><td><i>подсистема цифровой части системы регулирования</i></td><td>Шкаф ПТК ЭГР</td></tr>
			<tr><td><i>подсистема управления маслонапорной установкой</i></td><td>Шкаф ПТК МНУ</td></tr>
			<tr><td><i>подсистема измерений технологических параметров</i></td><td>Шкаф ПТК СТК</td></tr>
			<tr><td><i>подсистема измерений электрических параметров</i></td><td>Шкаф СИС</td></tr>
			<tr><td><i>подсистема синхронизации генератора</i></td><td>Шкаф ИС</td></tr>
			<tr><td><i>подсистема температурного контроля</i></td><td>Шкаф ПТК СТК</td></tr>
			<tr><td><i>подсистема вибрационного контроля</i></td><td>Шкаф ПТК ВК</td></tr>
			<tr><td><i>подсистема управления водоприёмником</i></td><td>Шкаф ПТК АРЗ</td></tr>
			<tr><td><i>подсистема звуковой и световой сигнализации;</i></td><td>Шкаф ТА, СИС</td></tr>
		<tr><td><b>Система управления гидротехническими сооружениями ГТС</b></td><td></td></tr>
			<tr><td><i>подсистема контроля уровня ВБ</i></td><td>Шкаф ПТК ГТС</td></tr>
			<tr><td><i>подсистема контроля уровня НБ</i></td><td>Шкаф ПТК ГТС</td></tr>
			<tr><td><i>подсистема контроля сороудерживающих решеток</i></td><td>Шкаф ПТК ГТС</td></tr>
		<tr><td><b>Система вспомогательного оборудованием ГЭС</b></td><td></td></tr>
			<tr><td><i>подсистема электрических измерений (station aux. transformers)</i></td><td>Шкаф ПТК ОС</td></tr>
			<tr><td><i>подсистема СН (L.V.A.C. switchgear)</i></td><td>Шкаф ПТК ОС</td></tr>
			<tr><td><i>подсистема СОПТ (L.V.D.C. switchgear)</i></td><td>Шкаф ПТК ОС</td></tr>
			<tr><td><i>подсистема дизель-генераторной установкой ДГУ (diesel generator)</i></td><td>Шкаф ПТК ОС</td></tr>
			<tr><td><i>подсистема ОРУ 400кВ (400 kV switch gear H.V. substation area</i></td><td>Шкаф ПТК ОС</td></tr>
			<tr><td><i>подсистема управления охлаждением (Cooling system control)</i></td><td>Шкаф ПТК ОС</td></tr>			
			<tr><td><i>подсистема сжатого воздуха (Compressed air system control)</i></td><td>Шкаф ПТК ОС</td></tr>
			<tr><td><i>подсистема дренажа и осушения(Drainage and dewatering control)</i></td><td>Шкаф ПТК ОС</td></tr>
	</table>
	<h2>Системы управления технологического (верхнего) уровня АСУТП ГЭС</h2>
	<p>Станционный (верхний) уровень управления ГЭС – уровень общестанционных систем производства, выдачи и потребления электроэнергии. Общестанционные системы производства и выдачи электроэнергии, автоматизации основного и вспомогательного оборудования электростанций разрабатываются в виде взаимоувязанных систем, обеспечивающих централизованное автоматизированное или автоматическое управление ТП электростанции.</p>
	<p>В состав «верхнего» уровня управления входят системы управления, обеспечивающие функциональную автономность работы управляемого ими оборудования и систем в объеме реализации возложенных на них технологических задач. Оборудование каждой системы управления состоит из программно-технических комплексов (ПТК) в составе программируемого логического контроллера (PLC) или промышленного сервера, панели оператора (HMI), а также ключей, кнопок, устройств индикации для обеспечения полноценного управления и мониторинга.</p>
	<p>В состав верхнего уровня управления входят следующие подсистемы.</p>
	{% if set['GRAM'] or set['GRN']%}
	<p><b>Система группового регулятора мощности</b>, в которую входят следующие подсистемы</p>
	<ul>
		{% if set['GRAM']%}
		<li>Групповой регулятор активной мощности ГРАМ;</li>
	{% endif %}
		{% if set['GRN']%}
		<li>Групповой регулятор напряжения и реактивной мощности ГРН;</li>
		{% endif %}
	</ul>
	{% endif %}
	{% if set['VU']%}
	<p><b>Система сбора и хранения данных</b>, предназначенная для организации взаимодействия с нижнем технологическим уровнем управления, содержания архивов параметров и событий, выдачи информации на АРМ.</p>
	<p><b>Система коммуникационного оборудования</b>, предназначенная для объединения всех вычислительных и коммуникационных узлов из состава верхнего и нижнего уровней ЛВС АСУ ТП и обеспечивают программно-техническую согласованную работу всей системы в целом (обеспечение работы станционной {% if set['Redundancy'] %}дублированной{% endif %} ЛВС Ethernet, координация всех ПТК, подключенных к данной ЛВС т.д.).</p>
	<p><b>Информационного-диагностическая система</b>, предназначенная для организации процесса управления станцией, связи с технологическим уровнем управления и диагностики технологического оборудования ГЭС.</p>
	{% endif %}
	{% if set['SOEV']%}
	<p><b>Система обеспечения единого времени</b>, предназначенная для синхронизации таймеров всех вычислительных устройств АСУ ТП ГЭС. Система обеспечения единого времени настраивается по сигналам точного времени и выдает автоматически синхронизирующий сигнал с заданным периодом для всех таймеров. Система обеспечения единого времени обеспечивает привязку к астрономическому времени не хуже 0,5 с/cут.</p>
	{% endif %}
	
	<table>
		<tr><td><b>Наименование системы</b></td><td><b>Оболочка</b></td></tr>
			<tr><td><b>Система группового регулятора мощности</b></td></tr>
			<tr><td><i>Групповой регулятор активной мощности ГРАМ</i></td><td>Шкаф ПТК ГРАРМ</td></tr>
			<tr><td><i>Групповой регулятор напряжения и реактивной мощности ГРН</i></td><td>Шкаф ПТК ГРАРМ</td></tr>
			<tr><td><b>Система сбора и хранения данных</b></td><td>Шкаф ПТК БД</td></tr>
			<tr><td><b>Система коммуникационного оборудования</b></td><td>Шкаф ПТК СКО</td></tr>
			<tr><td><b>Информационного-диагностическая система</b></td><td>Шкаф ПТК БД</td></tr>
			<tr><td><b>Система обеспечения единого времени</b></td><td>Шкаф ПТК СОЕВ</td></tr>
	</table>
	
	{% if set['VU']%}
	<h3>Интегрирование сторонних АС</h3>
	<p><mark>АСУ ТП будет интегрирована с:</mark></p>
	
	<ul>
		<li>оборудованием РЗА;</li>
		<li>регистраторами аварийных событий;</li>
		<li>система защиты напорного трубопровода от разрыва;</li>
		<li>контроллеры присоединения;</li>
		<li>интегрированной системой пожарной безопасности.</li>
	</ul>

	{% endif %}
</article>
